

@font-face {
    font-family: "benetti grotesk";
    font-weight: 700;
    font-style: regular;
    src: url(fonts/BenettigroteskfreeRegular-ZVvZ3.otf) format("opentype");
}
@media screen (max-width: 500px;){
 .container {
  width: 90%;
  margin: 0 auto;
}
.header {
  width: 40%;
  margin: 0 auto;
}
.nav {
  width: 40%;
}
 
 /* Styles for hamburger icon */
 .nav-toggle {
  display: block;
  cursor: pointer;
 }
 
 .hamburger {
  width: 30px;
  height: 3px;
  background-color: #FB9EBB;
  border: #0B1957 1px;
  margin: 6px 0;
 }
 .icing {
  width: 90%;
  margin: 0 auto;
 }
 .sweets-section {
  width: 90%;
  margin: 0 auto;
 }
 .Img {
  width:90%;
 }
 body {
margin: 0;
  width: 90%;
}
.cherry-icon {
  height:50px;
}
.pie {
  width: 90%;
  position: flex;
  margin: 0;
}
.take-home {
  position: flex;
  width: 90%;
  margin:auto;
  
}
.logo-home {
width: 50%;
margin: auto;
}
.home {
width: 90%;
margin: 0;
}
}

body {
    margin:0;
    background-color: #FEDCD1;
    color:white;
    position: relative;
  }

  h1 {
    font-family: "benetti grotesk";
    color: #FB9EBB;
    padding-left: 30px;
    font-size: 111px;
    margin: 50px;
    line-height: 134px;
  }
  
  h2 {
    font-family: "panel-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #0B1957
  }
  h3 {
    font-family: "panel-sans-mono", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #0B1957
  }
  Img {
     width:100%;
    }

  .sweets-gallery .card { 
    flex:1;
    z-index: 1;
    position: relative;
}

.icing {
    z-index: 1;
    position: relative;
    display: block;
    margin-top: -50px;
}
  
  .cherry-icon {
    height:40px;
    width:auto;
  }

  * {
    box-sizing: border-box;
  }
  body {
    margin:0;
    color: #0B1957;
    background-color: #FEDCD1;
  }
  a {
    color: #0B1957;
    text-decoration: none;
  }
  h1 {
    color: #FB9EBB;
    margin:0;
    padding:20px 20px 20px 20px;
    border:1px solid #0B1957;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    display:inline-block;
    background-color:#FAF3EB;
  }
  hr {
    border-top:1px solid #0B1957;
    margin-top:-40px;
  }
  header {
    padding-top:40px;
    padding-bottom:40px;
    background-color:#FAF3EB;
      border-top:1px solid #0B1957;
      margin-top: -1px;
  
  }
  nav {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    width:100%;
    padding: 16px 20px 0 20px
  }
  nav ul {
    display:flex;
    justify-content: center;
    margin:0;
    padding:0;
    list-style: none;
    font-family: "panel-sans-mono", sans-serif;
    font-weight: 800;
    position: absolute;
   margin-left: 550px;
   

  }
  nav li {
    border:1px solid #0B1957;
    border-top-right-radius: 22px;
    border-top-left-radius: 22px;
    background-color:#FB9EBB 
 
  }
  

  nav li:hover, nav li.active {
    background-color:#FAF3EB;
  }
  /* padding with two numbers goes top-bottom then left-right */
  nav ul a {
    display:inline-block;
    padding: 8px 16px;
    position: relative;
  }
  /* Hide the menu by default on small screens */
 .nav-mobile {
  display: none;
 }

  .cherry-icon {
    height:100px;
  }
  .sweets-section {
    position: relative;
    background-color: #FAF3EB;
    z-index: 1;
  }

  .sweets-gallery {
    width:90%;
    margin:auto;
    display: flex;
    padding: 5%;
    
  }
  .sweets-gallery .card {
    border:1px solid #0B1957;
    border-top-right-radius: 333px;
    border-top-left-radius: 333px;
    background-color: #FEDCD1;
    margin-right:40px;
    position: flex;
    display: block;
    font-family: "panel-sans-mono", sans-serif;
    align-items: flex-end;
    height: auto;
    
  }

  .button { 
    background-color:#FB9EBB;
    border-top: 1px solid #0B1957;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 10px 10px;
    margin-bottom: -1px;
    height: fit-content;
  }
    
 .add {
  width: 20%;
 }

  .product-img {
    width: 100%;
    display: block;
    position: relative;
    height: auto;
  }
  .apple-img {
    display: block;
    position: relative;
    margin-top: 30px;
    margin-bottom: 0px;
  }

.pie {
    width: 100%;
    position: flex;
    margin-right: 300px;
    margin-left: 600px;
    margin-top: -400px;
    z-index: -1;
}
.take-home {
    position: relative;
    width: 33%;
    margin-left: 200px;
    
}
.logo-home {
  width: 50%;
  margin-left: 400px;
  margin-right: 400px;
  position: relative;
  display: inline;
  justify-content: flex-end;
}
.home {
  background-color: #FAF3EB;
}
.cinnyhero {
  width: 33%;
  margin-top: -100px;
  position: relative;
margin-left: 550px;
display: flex;

}
.marquee-container {
  height: 120px;
  overflow: hidden;
  line-height: 120px;

  .marquee {
    top: 0;
    left: 100%;
    width: 300%;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
    font-family: "benetti grotesk";
    font-size: 111px;
    margin: 50px;
    line-height: 134px;
    margin-top: 1100px;
  }

  .marquee2 {
    animation-delay: 25s;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
    position: absolute;
  }
  b {
    padding-left: 10px;
  }
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%
  }
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
.menu {
  position: relative;
  margin-top: 100px;
}

.lunch-menu {
  display: block;
  width: 20%;
  margin-left: 300px;
  margin-top: 200px;
  position: relative;
  padding: auto;
}
.crunchwrap {
  position: relative;
  width: 25%;
  margin-left: 800px;
  margin-top: -300px;
  z-index: 4;
}
.chili {
  position: relative;
  width: 35%;
  z-index: 4;
  margin-top: -600px;
  margin-left: 1200px;
  display: block;
}
.frozen {
  width: 33%;
  margin-left: 800px;
  display: block;
  margin-top: -1000px;
  padding-bottom: 500px;
}
.birria {
  z-index: -2;
  width: 45%;
  margin-top: -400px;
  margin-left: 0px;
  position: relative;
  display: block;
  padding-bottom: 500px;
}
.savory {
  background-color: #FAF3EB;
  width: 100%;
}
.savory-gallery {
  width:90%;
  margin:auto;
  display:flex;
  padding: 5%;
}
.savory-card {
  border:1px solid #0B1957;
  border-radius: 44px;
  background-color: #FEDCD1;
  margin-right:40px;
  position: relative;
  justify-content: flex-end;
  height: fit-content;
  font-family: "panel-sans-mono", sans-serif;
  
}
.savory-gallery .savory-card img {
  display: block;
  position: relative;
  padding: 10px 10px 0px;
  height: fit-content;
}

.savory-button { 
  background-color:#FB9EBB;
  border-top: 1px solid #0B1957;
  border-bottom-left-radius: 44px;
  border-bottom-right-radius: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:10px 16px 16px;
}
.meals-img {
  display: flex-end;
  position: relative;
}
.pizza-img {
  display: flex-end;
  position: relative;
  width: 90%;
}
.meals-button { 
  background-color:#FB9EBB;
  border-top: 1px solid #0B1957;
  border-bottom-left-radius: 44px;
  border-bottom-right-radius: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:10px 16px 16px;
}
.marquee-container {
  flex-wrap: wrap;
  flex-flow: column;
}
.meals-copy {
  width: 35%;
  margin-left: 300px;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}
.footer {
  position: relative;
  justify-content: baseline;
  z-index: -9;
  width: 100%;
 }
@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}


